<!-- app/views/favorites/index.html.erb -->

<h1>Meus Favoritos</h1>

<div class="wrapper">

  <div class="photo">
    <% if current_user.photo.url.present? %>
      <%= cl_image_tag(current_user.photo.key, :transformation=>[
                      {:gravity=>"face", :height=>120, :width=>120, :crop=>"fill"},
                      {:border=>"3px_solid_lightblue"},
                      {:fetch_format=>:auto}
                      ]) %>
    <% else %>
      <%= image_tag "user.png", class: "avatar-square" %>
    <% end %>
  </div>

  <div class="favorites">
    <% if @favorites.present? %>
    <% @favorites.each do |favorite| %>
      <div class="favorite">
        <h3><%= favorite.roteiro.title %></h3>
        <p><%= favorite.roteiro.description %></p>
        <%= button_to 'Remover dos Favoritos', favorite_path(id: favorite.id), data: { "turbo-method": :delete, confirm: 'Tem certeza?' }, method: :delete %>
      </div>
    <% end %>
    <% else %>
      <p>Nenhum favorito encontrado.</p>
    <% end %>
  </div>

  <div class="roteiros">
    <% if @user_roteiros.present? %>
      <% @user_roteiros.each do |roteiro| %>
        <div class="favorite">
          <h3><%= roteiro.title %></h3>
         </div>
      <% end %>
    <% else %>
      <p>Nenhum roteiro encontrado.</p>
    <% end %>
  </div>

  <div class="reviews">
  <% if @user_reviews.present? %>
      <% @user_reviews.each do |review| %>
        <div class="favorite">
          <p><%= review.roteiro_id %> - <%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %> - <%= review.rating %></p>
         </div>
      <% end %>
    <% else %>
      <p>Nenhum review encontrado.</p>
    <% end %>
  </div>

  <div class="mydata">
      <ul>
        <li><%= current_user.first_name %> <%= current_user.last_name %></li>
        <li><%= current_user.username %></li>
        <li><%= current_user.email %></li>
        <li>Usuário desde: <%= current_user.created_at %></li>
        <li><%= link_to 'Editar', edit_user_registration_path %></li>
      </ul>
  </div>

</div>
