<!-- app/views/favorites/index.html.erb -->

<h1>Meus Favoritos</h1>

<div class="grid-fav">

  <div class="photo">
    <div class="photo-div row">
      <div class="col">
      <% if current_user.photo.url.present? %>
        <%= cl_image_tag(current_user.photo.key, :transformation=>[
                        {:gravity=>"face", :height=>120, :width=>120, :crop=>"fill"},
                        {:border=>"3px_solid_lightblue"},
                        {:fetch_format=>:auto}
                        ]) %>
      <% else %>
        <%= image_tag "user.png", class: "avatar-square" %>
      <% end %>
      <br> Hi <%= current_user.first_name %> <%= current_user.last_name %>!
      </div>
      <br>
      <div class="row">
        <div class="col text">
          <ul>
            <li><strong>My data:</strong></li>
            <li>Username: <%= current_user.username %></li>
            <li>E-mail: <%= current_user.email %></li>
            <li>User since: <%= current_user.created_at.strftime("%Y-%m-%d") %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="favorites">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% if @favorites.present? %>
          <% @favorites.each do |favorite| %>
            <tr>
              <td><%= favorite.roteiro.title %></td>
              <td><%= favorite.roteiro.description %></td>
              <td><%= button_to 'Remover dos Favoritos', favorite_path(id: favorite.id), data: { "turbo-method": :delete, confirm: 'Tem certeza?' }, method: :delete %></td>
            </tr>
          <% end %>
      <% else %>
    </tbody>
  </table>
</div>

  <div class="roteiros">
    <% if @user_roteiros.present? %>
      <% @user_roteiros.each do |roteiro| %>
        <h3><%= roteiro.title %></h3>
      <% end %>
    <% else %>
      <p>Nenhum roteiro encontrado.</p>
    <% end %>
  </div>

  <div class="reviews">
  <% if @user_reviews.present? %>
      <% @user_reviews.each do |review| %>
          <p><%= review.roteiro_id %> - <%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %> - <%= review.rating %></p>
      <% end %>
    <% else %>
      <p>Nenhum review encontrado.</p>
    <% end %>
  </div>

  <div class="mydata">
  </div>

</div>
