<!-- app/views/favorites/index.html.erb -->
<div class="favorite-title">
  <h1 style="font-family: 'Tourney', sans-serif;">Hi, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
</div>
<div class="grid-fav">

  <div class="photo-fav">
    <div class="photo-div row">
      <div class="col">
        <% if current_user.photo.url.present? %>
        <%= cl_image_tag(current_user.photo.key, :transformation=>[
          {:gravity=>"face", :height=>120, :width=>120, :crop=>"fill"},
          {:border=>"3px_solid_lightblue"},
          {:fetch_format=>:auto}
          ]) %>
        <% else %>
        <%= image_tag "user.png", class: "avatar-square" %>
        <% end %>
      </div>

      <div class="row">
        <div class="col text">
          <ul>
            <li style="font-family: 'Tourney', sans-serif;"><strong>My data:</strong></li>
            <li><i class="fa-regular fa-user"></i> <%= current_user.username %></li>
            <li><i class="fa-regular fa-envelope"></i> <%= current_user.email %></li>
            <li><i class="fa-regular fa-calendar"></i> <%= current_user.created_at.strftime("%Y-%m-%d") %></li>
            <br>
            <li><i class="fa-solid fa-bookmark"></i> No. of favorites: <%= @favorites.count %></li>
            <li><i class="fa-solid fa-folder-plus"></i> No. of itineraries written: <%= @user_roteiros.count %></li>
            <li><i class="fa-solid fa-magnifying-glass-location"></i> No. of reviews left: <%= @user_reviews.count %></li>
            <br>
            <li><%= link_to 'Edit profile', edit_user_registration_path, class: "edit-button", style: "display: flow" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="favorites">
    <h3 style="font-family: 'Tourney', sans-serif; font-weight: 800;">My Favorites</h3>
    <% if @favorites.present? %>
    <div class="table-wrapper">
    <table class="table table-hover">
      <thead>
        <tr>
        <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Itinerary Title</th>
        <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Book Name</th>
        <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Average Itinerary Rating</th>
        <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
        <tr class="favorite-row" data-book-id="<%= favorite.roteiro.book.id %>">
          <!-- Conteúdo da tabela -->
          <td class="clickable-column"><%= favorite.roteiro.title %></td>
          <td class="clickable-column"><%= favorite.roteiro.book.name %></td>
          <td class="clickable-column"><%= favorite.roteiro.rating.to_f.round(1) %></td>
            <td><%= button_to 'Remover dos Favoritos', favorite_path(id: favorite.id), data: { "turbo-method": :delete, confirm: 'Tem certeza?' }, method: :delete, class: "edit-button" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>

    <script>
      // Seleciona todas as linhas da tabela que representam os favoritos
      var favoriteColumns = document.querySelectorAll('.clickable-column');

      // Adiciona um event listener de clique a cada linha de favorito
     favoriteColumns.forEach(function(column) {
        column.addEventListener('click', function() {
          // Obtém o ID do livro relacionado ao favorito clicado
          var bookId = column.closest('.favorite-row').dataset.bookId;

          // Redireciona para a página do livro usando o seu ID
          window.location.href = '/books/' + bookId;
        });

        // Altera o cursor do mouse para uma mãozinha quando passa sobre a linha
        column.style.cursor = 'pointer';
      });
    </script>
    <% else %>
    <p>You have no favorites yet.</p>
    <% end %>
  </div>

  <div class="roteiros">
    <h3 style="font-family: 'Tourney', sans-serif; font-weight: 800;">My Itinerarys</h3>
    <% if @user_roteiros.present? %>
      <div class="table-wrapper">
        <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Itinerary Title</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Belongs to</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Average Itinerary Rating</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Last update</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">No. of reviews</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Edit Itinerary</th>
          </tr>
        </thead>
        <tbody>
          <% @user_roteiros.each do |roteiro| %>
          <tr class="roteiro-row" data-book-id="<%= roteiro.book.id %>">
            <!-- Conteúdo da tabela -->
            <td class="clickable-column"><%= roteiro.title %></td>
            <td class="clickable-column"><%= roteiro.book.name %></td>
            <td class="clickable-column"><%= roteiro.rating.to_f.round(1) %></td>
            <td class="clickable-column"><%= roteiro.updated_at.strftime("%Y-%m-%d") %></td>
            <td class="clickable-column"><%= roteiro.reviews.count %></td>
            <td>
    <%= link_to "Edit", edit_roteiro_path(roteiro, book_id: roteiro.book_id), class: "edit-button" %>
  </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <script>
      // Seleciona todas as linhas da tabela que representam os itinerários do usuário
      var favoritesColumns = document.querySelectorAll('.clickable-column');

      // Adiciona um event listener de clique a cada linha de itinerário
      favoritesColumns.forEach(function(column) {
        column.addEventListener('click', function() {
          // Obtém o ID do livro relacionado ao itinerário
          var bookId = column.closest('.roteiro-row').dataset.bookId;

          // Redireciona para a página do livro usando o seu ID
          window.location.href = '/books/' + bookId;
        });

        // Altera o cursor do mouse para uma mãozinha quando passa sobre a linha
        column.style.cursor = 'pointer';
      });
    </script>
    <% else %>
    <p>You have no itineraries created yet.</p>
    <% end %>
  </div>

  <div class="reviews">
    <h3 style="font-family: 'Tourney', sans-serif; font-weight: 800;">My Reviews</h3>
    <% if @user_reviews.present? %>
     <div class="table-wrapper">
     <%# Ordene as revisões por data de atualização (last update) %>
      <% @user_reviews = @user_reviews.sort_by(&:updated_at).reverse %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Book Name</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Itinerary Title</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Short Description</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Last update</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Rating given</th>
            <th scope="col" style="font-family: 'Tourney', sans-serif; font-weight: 800;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @user_reviews.each do |review| %>
          <tr class="review-row" data-book-id="<%= review.roteiro.book.id %>">
            <!-- Conteúdo da tabela -->
            <td class="clickable-column"><%= review.roteiro.book.name %></td>
            <td class="clickable-column"><%= review.roteiro.title %></td>
            <td class="clickable-column"><%= truncate(review.description, length: 25) %></td>
            <td><%= review.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= review.rating %></td>
            <td><%= button_to "Delete", book_roteiro_review_path(book_id: review.roteiro.book.id, roteiro_id: review.roteiro_id, id: review.id), method: :delete, data: { confirm: "Are you sure you want to delete this review?" }, class: "edit-button", form: { class: "delete-form" } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <script>
      // Seleciona todas as linhas da tabela que representam as revisões do usuário
      var reviewColumns = document.querySelectorAll('.clickable-column');

      // Adiciona um event listener de clique a cada linha de revisão
      reviewColumns.forEach(function(column) {
        column.addEventListener('click', function() {
          // Obtém o ID do livro relacionado à revisão
          var bookId = column.closest('.review-row').dataset.bookId;

          // Redireciona para a página do livro usando o seu ID
          window.location.href = '/books/' + bookId;
        });

        // Altera o cursor do mouse para uma mãozinha quando passa sobre a linha
        column.style.cursor = 'pointer';
      });
    </script>
    <% else %>
    <p>You have not left any reviews yet.</p>
    <% end %>
  </div>

</div>
