<!-- app/views/favorites/index.html.erb -->

<h1>Profile page </h1>

<div class="grid-fav">

  <div class="photo">
    <div class="photo-div row">
      <div class="col"> 
       Hi <%= current_user.first_name %> <%= current_user.last_name %>!
       <br>
       <% if current_user.photo.url.present? %>
        <%= cl_image_tag(current_user.photo.key, :transformation=>[
                        {:gravity=>"face", :height=>120, :width=>120, :crop=>"fill"},
                        {:border=>"3px_solid_lightblue"},
                        {:fetch_format=>:auto}
                        ]) %>
        <% else %>
          <%= image_tag "user.png", class: "avatar-square" %>
        <% end %>
      </div>

      <div class="row">
        <div class="col text">
          <ul>
            <li><strong>My data:</strong></li>
            <li><i class="fa-regular fa-user"></i> <%= current_user.username %></li>
            <li><i class="fa-regular fa-envelope"></i> <%= current_user.email %></li>
            <li><i class="fa-regular fa-calendar"></i> <%= current_user.created_at.strftime("%Y-%m-%d") %></li>
            <br>
            <li><i class="fa-solid fa-bookmark"></i> No. of favorites: <%= @favorites.count %></li>
            <li><i class="fa-solid fa-folder-plus"></i> No. of itineraries written: <%= @user_roteiros.count %></li>
            <li><i class="fa-solid fa-magnifying-glass-location"></i> No. of reviews left: <%= @user_reviews.count %></li>
            <br>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="favorites">
    <h3>My Favorites</h3>
    <% if @favorites.present? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Itinerary Title</th>
            <th scope="col">Book Name</th>
            <th scope="col">Average Itinerary Rating</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% @favorites.each do |favorite| %>
              <tr>
                <td><%= favorite.roteiro.title %></td>
                <td><%= favorite.roteiro.book.name %></td>
                <td><%= favorite.roteiro.rating.to_f.round(1) %></td>
                <td><%= button_to 'Remover dos Favoritos', favorite_path(id: favorite.id), data: { "turbo-method": :delete, confirm: 'Tem certeza?' }, method: :delete %></td>
                <td><%= button_to 'Visit book page', book_path(favorite.roteiro.book), method: :get %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
      <p>You have no favorites yet.</p>
    <% end %>
</div>

  <div class="roteiros">
  <h3>My Ininerarys</h3>
    <% if @user_roteiros.present? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Itinerary Title</th>
            <th scope="col">Belongs to</th>
            <th scope="col">Average Itinerary Rating</th>
            <th scope="col">Last update</th>
            <th scope="col">No. of reviews</th>
          </tr>
        </thead>
        <tbody>
            <% @user_roteiros.each do |roteiro| %>
              <tr>
                <td><%= roteiro.title %></td>
                <td><%= roteiro.book.name %></td>
                <td><%= roteiro.rating.to_f.round(1) %></td>
                <td><%= roteiro.updated_at.strftime("%Y-%m-%d") %></td>
                <td><%= roteiro.reviews.count %></td>
                </tr>
            <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You have no itineraries created yet.</p>
    <% end %>
  </div>

  <div class="reviews">
  <h3>My Reviews</h3>
    <% if @user_reviews.present? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Review No.</th>
            <th scope="col">Short Description</th>
            <th scope="col">Last update</th>
            <th scope="col">Rating given</th>
          </tr>
        </thead>
        <tbody>
            <% @user_reviews.each do |review| %>
              <tr>
                <td><%= review.roteiro_id%></td>
                <td><%= truncate(review.description, length: 25) %></td>
                <td><%= review.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <td><%= review.rating %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You have not left any reviews yet.</p>
    <% end %>
  </div>

  <div class="mydata">
  </div>

</div>
