<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Black_logo_no_bg.png" %>
    <% end %>
<%# SEARCH BAR NA NAVBAR = PROVISORIO %>
    <form class="form-inline" action="<%= books_path %>" method="get">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Search for your favorite book or author">
        <button type="submit" class="btn btn-outline-dark">Search</button>
      </div>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <%# LINKS QUE APARECEM NA NAVBAR %>
          <li class="nav-item active">
            <%= link_to "", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar-bordered" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if user_signed_in? %>
              <% if current_user.photo.url.present? %>
                <%= cl_image_tag(current_user.photo.key, :transformation=>[
                                {:gravity=>"face", :height=>45, :width=>45, :crop=>"thumb"},
                                {:radius=>"max"},
                                {:fetch_format=>:auto}
                                ]) %>
              <% else %>
                <%= image_tag "user.png", class: "avatar-bordered", alt: "dropdown menu" %>
              <% end %>
            <% end %>
          </a>
                  <%# LINKS QUE APARECEM AO CLICAR NO USUARIO %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My page", "#", class: "dropdown-item" %>
              <%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
