<div class="container">
  <div class="row">
    <div class="col-4">
      <%= simple_form_for(@review, url: book_roteiro_reviews_path) do |f| %>
        <div class="form-group">
          <%= f.label :rating, "Rate your experience" %>
          <%= f.collection_select :rating, (1..5).to_a, :to_s, :to_s, { prompt: "Select rating" }, { class: "form-control" } %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <%= f.submit "Send your review", class: "btn btn-primary success" %>
      <% end %>
    </div>
  </div>
</div>
