<div class="flexbox-container">
  <% if roteiro.reviews.present? %>
    <% roteiro.reviews.each do |review| %>
      <div class="card-review">
        <!-- Avatar and Username -->
        <div class="avatar-profile">
          <div class="avatar-review">
            <%= image_tag review.user.photo %>
          </div>
          <div class="username"> <!-- Adicionando estilo para ajustar o posicionamento do nome de usuário -->
            <em><%= review.user.username %></em>
            <span>User since: <%= review.user.created_at.strftime("%B %d, %Y") %></span>
          </div>
        </div>

        <!-- Star Ratings -->
        <div class="somente-as-estrelas">
          <% if review.rating.present? %>
            <% 5.times do |i| %>
              <% if (i+1) <= review.rating %>
                <i class="fa-solid fa-star"></i>
              <% else %>
                <i class="fa-regular fa-star"></i>
              <% end %>
            <% end %>
          <% end %>
          <em>~ This is the user rating ~</em>
        </div>

        <!-- Review Description -->
        <div class="review-description">
          <%= simple_format(review.description) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div>
    <%= link_to 'Leave a review!', new_book_roteiro_review_path(book_id: roteiro.book.id, roteiro_id: roteiro.id), class: "edit-button" %>
  </div>
<% else %>
  <div>
    <%= link_to 'Sign in to leave a review!', new_user_session_path, class: "btn btn-primary" %>
  </div>
<% end %>
