<% roteiro.reviews.each do |review| %>
  <div class="card-review">

    <!-- Avatar and Username -->

    <div class="avatar-profile">
      <div class="avatar-review">
        <%= image_tag review.user.photo if review.user.photo.attached? %>
      </div>
      <div class="username">
        <em><%= review.user.username %></em>
        <span>User since: <%= review.user.created_at.strftime("%B %d, %Y") %></span>
      </div>
    </div>

    <!-- Star Ratings -->

    <div class="somente-as-estrelas">
      <% if review.rating.present? %>
        <% 5.times do |i| %>
          <% if (i+1) <= review.rating %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      <% end %>
      <em>~ This is the user rating ~</em>
    </div>

    <!-- Photos -->

    <% if review.photos.present? %>
      <div class="row review-photo-grid">
        <% review.photos.each do |photo| %>
          <div class="col">
            <a href="#" data-bs-toggle="modal" data-bs-target="#photoModal<%= photo.id %>">
              <%= cl_image_tag photo.key, class: 'img-fluid' %>
            </a>
            <div class="modal fade" id="photoModal<%= photo.id %>" tabindex="-1" aria-labelledby="photoModalLabel<%= photo.id %>" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <%= cl_image_tag photo.key, class: 'img-fluid' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Review Description -->

    <div class="review-description">
      <%= simple_format(review.description) %>
    </div>

    <!-- Message for reviews without images -->

    <% unless review.photos.present? %>
      <div class="no-image-message">
        <p> Review created without images.</p>
      </div>
    <% end %>
  </div>
<% end %>

<div class="leave-review">
  <% if user_signed_in? %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
        Leave a review!
      </button>
      <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-5" id="reviewModalLabel">New Review</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Aqui será renderizado o formulário para adicionar um novo review -->
              <%@roteiro = roteiro %>
              <%@review = Review.new %>
              <%= render 'shared/new-review', { review: @review, book: @book, roteiro: @roteiro } %>
            </div>
          </div>
        </div>
      </div>
  <% else %>
      <%= link_to 'Sign in to leave a review!', new_user_session_path, class: "btn text-center" %>
  <% end %>
</div>
