<div>
  <strong>See all reviews!</strong>
  <strong>----------------------------</strong>
</div>
<div>
  <% if roteiro.reviews.present? %>
    <% roteiro.reviews.each do |review| %>



      <span>
        <div> USER PHOTO AND USER NAME
        <%= review.user.username %>
        <% if review.user.photo.present? %>
          <%= image_tag review.user.photo %>
        <% else %>
          <%= "no photo attached" %>
        <% end %>
         </div>
      </span>



      <div class="somente-as-estrelas">
        <% 5.times do |i| %>
          <% if (i+1) <= review.rating %>
            <i class="fa-solid fa-star"></i>
          <% else %>
            <i class="fa-regular fa-star"></i>
          <% end %>
        <% end %>
      </div>


      <div class="review-description">
        <%= review.description %>
      </div>


    <% end %>
  <% end %>
</div>


<%= link_to 'Leave a review!', new_book_roteiro_review_path(book_id: roteiro.book.id, roteiro_id: roteiro.id) %>
