<div>
  <% Roteiro.where(book_id: @book.id).each do |roteiro| %>
    <div class="roteiro-card">
      <div class="roteiro-title" onclick="toggleDetails(this)">
        <%= roteiro.title %>
      </div>
      <div class="roteiro-details" style="display:none;">
        <div>
          <strong>Created by:</strong>
          <%# avatar e username + quantas reviews usuário fez? %>
          <em><%= roteiro.updated_at %></em>
        </div>
        <div> <%# Carrossel de fotos posteriormente%>
          <% roteiro.photos.each do |photo| %>
            <%= image_tag photo.url, size: "200x100" %>
          <% end %>
        </div>
        <div>
          <ul>
            <li><strong> Activity Description: </strong><%= roteiro.activity_description %></li>
            <li><strong> Location: </strong><%= roteiro.location %></li>
            <li><strong> Address: </strong><%= roteiro.activity_address %></li>
            <li><strong> Time taken: </strong><%= roteiro.estimated_time %>h</li>
            <li><strong> Aprox. Cost: $</strong><%= roteiro.estimated_costs %></li>
          </ul>

          <%= render partial: 'shared/review', locals: { roteiro: roteiro } %>
        </div>
      </div>
    </div>

  <% end %>
</div>


  <%# #mapa add fora da iteração %>
  <strong> All pinned itinerarys:  </strong>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<script>
  function toggleDetails(element) {
    // Find the next sibling element which is the details container
    var details = element.nextElementSibling;
    // Toggle the display property
    if (details.style.display === "none") {
      details.style.display = "block";
    } else {
      details.style.display = "none";
    }
  }
</script>
