  <% Roteiro.all.each do |roteiro| %>
    <div>
      <%= roteiro.title %>
      <%# Média de avaliações %>
      <div>
        <%# if roteiro.reviews.present? %>
          <%#= roteiro.reviews.average(:rating) %>
        <%# else %>
          <%# <p>Leave a review!</p> %>
        <%# end %>
       </div>
      <%= roteiro.updated_at %>
      <div> <%# Adicionar carrossel de fotos posteriormente %>
        <% roteiro.photos.each do |photo| %>
            <%= image_tag photo.url, size: "200x100" %>
        <% end %>
      </div>
      <div>
        <%= roteiro.activity_description %>
        <%= roteiro.location %>
        <%= roteiro.activity_address %>
        <%#= roteiro.estimated_time %>
        <%#= roteiro.estimated_costs %>
        <%#= roteiro.activity_done %>
      </div>
      <% if current_user.favorites.include?(roteiro) %>
        <%= link_to 'Remove from Favorites', favorites_path(roteiro.id), method: :delete %>
      <% else %>
        <%= link_to 'Add to Favorites', favorites_path(roteiro.id), method: :post %>
      <% end %>
      <%= link_to 'Edit', edit_roteiro_path(roteiro.id, book_id: roteiro.book.id) %>
      <%= button_to 'Delete', book_roteiro_path(roteiro.book.id, roteiro.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <%# #mapa add fora da iteração %>
  <div id='map' style='width: 100%; height: 400px;'
  data-controller='map'></div>
