<div class="container-12">
    <span class="txt-type"></span></h1>
  <h2>Choose your book and start reading the city</h2>
</div>

<div class="grid">
  <% @books.order(id: :asc).limit(12).each_slice(3) do |books| %>
    <div class="grid-row">
      <% books.each do |book| %>
        <div class="grid-item">
          <div class="example-2 card" style="width: 285px; padding: 10px;">
            <div class="wrapper" style="background-image: url('<%= book.thumbnail %>');">
              <div class="header">
                <%# <ul class="menu-content">
                  <li>
                    <a href="#" class="fa fa-bookmark-o"></a>
                  </li>
                  <li><a href="#" class="fa fa-heart-o"><span>Read the city!</span></a></li>
                </ul> %>
              </div>
              <div class="data">
                <div class="content" style="background-color: rgba(128, 128, 128, 0.9);">
                    <span class="author"><p><%= book.author %></p></span>
                    <h1 class="title" style="font-size: smaller; font-weight: bold; font-stretch: wider;"><a href="<%= book_path(book) %>">
                    <%= book.name %></a></h1>
                    <p class="text"><%= truncate(book.description, length: 90, separator: ' ', omission: '...') %></p>
                    <a href="<%= book_path(book) %>" class="button">Read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
