<div class="d-flex justify-content-center">
  <h1 class="titl" style="margin: 40px;"><strong><%= "Trip with #{@book.author}" %></strong></h1>
</div>

<div class="photo-card">
<div class="photo-background d-flex justify-content-center align-items-center">
  <%= image_tag @book.thumbnail, style: "width: 300px; height: auto;" %>
</div>
	<div class="photo-details">
		<h1><strong><%= @book.name %></strong></h1>
		<span class="photo-author"><a href="#" title="Photos by Jessie Parker" rel="author"> <em><%= @book.author %></em></a></span>
		<p><em><%= @book.description %></em></p>
	</div>

</div>

  <div class="actions action-buttons" style="padding: 30px; text-align: center;">
    <% if user_signed_in? && current_user.admin? %>
      <%= button_to "Destroy Book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger action-button" %>
    <% end %>

    <% if user_signed_in? && (current_user.admin? || @book.user == current_user) %>
      <!-- O link de edição abre o modal -->
      <button type="button" class="btn btn-primary action-button" data-bs-toggle="modal" data-bs-target="#editBookModal">
        Edit
      </button>
    <% end %>
  </div>
</div>



<div class="flexbox-container" style="padding: 30px;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 style="margin: 0; margin-right: 20px;">Itinerarys:</h3>
    <% if user_signed_in? %>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          New Itinerary
        </button>
      </div>
    <% else %>
      <%= link_to "Share your experience!", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<!-- Modal de edição do livro -->
<div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookModalLabel">Edit Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui será renderizado o formulário de edição do livro -->
        <%= render 'edit', book: @book %>
      </div>
    </div>
  </div>
</div>

<div class="box-shadow" style="padding: 30px;">
  <%= render 'shared/roteiro' %>
</div>

<!-- Modal para adicionar novo roteiro -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">New Itinarary</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui será renderizado o formulário para adicionar um novo roteiro -->
        <%= render 'roteiros/new', book: @book, roteiro: @roteiro %>
      </div>
    </div>
  </div>
</div>
