<div class="productCard_block">
  <div class="productCard_brendBlock">
    <%= image_tag @book.thumbnail %>
  </div>

  <div>
    <h2 class="block_name block_name__mainName"><strong><%= @book.name %></strong></h2>
    <h2 class="block_name block_name__addName"><em>Author: <%= @book.author %></em></h2>
  </div>

  <div class="productCard_rightSide">
    <em><%= @book.description %></em>
  </div>

  <div class="block_product__advantagesProduct">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h3>Roteiros</h3>
      <% if user_signed_in? %>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Novo Roteiro
  </button>
<% else %>
  <%= link_to "Compartilhe seu roteiro!", new_user_session_path, class: "btn btn-primary" %>
<% end %>

    </div>
  </div>

  <div class="actions action-buttons" style="padding: 30px;">
    <% if user_signed_in? && current_user.admin? %>
      <%= button_to "Destroy Book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger action-button" %>
    <% end %>

    <% if user_signed_in? && (current_user.admin? || @book.user == current_user) %>
      <%= link_to "Edit", edit_book_path(@book), class: "btn btn-primary action-button" %>
    <% end %>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="exampleModalLabel">New Roteiro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'roteiros/new', book: @book, roteiro: @roteiro %>
        </div>
      </div>
    </div>
  </div>

  <div class="box-shadow" style="padding: 30px;">
    <%= render 'shared/roteiro' %>
  </div>
</div>
