<div class="title-book">
  <h2><strong><%= "Trip with #{@book.author}" %></strong></h2>
</div>

<div class="photo-card">
  <div class="photo-background d-flex justify-content-center align-items-center">
    <%= image_tag @book.thumbnail, style: "width: 300px; height: auto;" %>
  </div>
  <div class="photo-details">
    <h1><strong><%= @book.name %></strong></h1>
    <span class="photo-author"><a href="#" title="Photos by Jessie Parker" rel="author"> <em><%= @book.author %></em></a></span>
    <p><em><%= truncate(@book.description, length: 600) %></em></p>
    <div class="book-buttons">
      <% if user_signed_in? && current_user.admin? %>
        <%= button_to "Destroy Book", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn action-button" %>
      <% end %>
      <% if user_signed_in? && (current_user.admin? || @book.user == current_user) %>
        <!-- O link de edição abre o modal -->
        <button type="button" class="btn action-button" data-bs-toggle="modal" data-bs-target="#editBookModal">
          Edit
        </button>
      <% end %>
    </div>
  </div>
</div>

<div class="new-itinerary">
  <div class="itinerary-card">
    <h3>Create Your Itinerary!</h3>
    <p>Inpired by the book, share your own experience or the expeirience that you wanted to do based on the places, building or monuments that your favorite character visited, lived and explored within the pages.
    Fill the custom itinerary with details, enrich with photos of the places (add your own photos, it's ok to be smug sometimes) and help other read the city as you did!
    And last, remember to leave a review or better, give a compliment to the fellow reader who created the itinerary and inspired you!</p>
    <% if user_signed_in? %>
      <div class="new-itinerary-button">
        <button type="button" class="btn btn-warning btn-lg rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
          New Itinerary
        </button>
      </div>
    <% else %>
      <%= link_to "Share your experience!", new_user_session_path, class: "btn" %>
    <% end %>
  </div>
</div>

<!-- Modal de edição do livro -->
<div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="editBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookModalLabel">Edit Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui será renderizado o formulário de edição do livro -->
        <%= render 'edit', book: @book %>
      </div>
    </div>
  </div>
</div>

<!-- Roteiros -->

<div style="padding: 10px;">
  <%= render 'shared/roteiro' %>
</div>

<!-- Modal para adicionar novo roteiro -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="exampleModalLabel">New Itinarary</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin: 25px;"></button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui será renderizado o formulário para adicionar um novo roteiro -->
        <%= render 'roteiros/new', book: @book, roteiro: @roteiro %>
      </div>
    </div>
  </div>
</div>
