<%= form_with(model: @review, url:  book_roteiro_reviews_path, local: true) do |form|%>
 <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.select :rating, (1..5) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
